# ignore compiled byte code
target

# ignore output files from testing
output*

# ignore standard Eclipse files
.project
.classpath
.settings
.checkstyle

# ignore standard IntelliJ files
.idea/
*.iml
*.ipr
*.iws

# ignore VS Code files
.vscode/

# ignore standard Vim and Emacs temp files
*.swp
*~

# ignore standard Mac OS X files/dirs
.DS_Store
/differentbin/

# ignore dist and build artifacts
dist/
*.tar.gz

# ignore test results and logs
result/
*.log

# ignore temporary files
obkv-hbase/server/temp/
*.properties.tmp
